img {
  vertical-align: middle;
  transform: scale(0.8)
}

.true {
  color: green;
}

.false {
  color: red;
}

.btn:hover {
  background-color: dodgerblue;
}

.wa-900px {
  width: 900px;
  min-width: 400px;
}

.react-switch {
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 8px;
}

button > span {
  color: black;
}