img {
  vertical-align: middle;
  transform: scale(0.8)
}

.true {
  color: green;
}

.false {
  color: red;
}

.btn:hover {
  background-color: dodgerblue;
}

.wa-900px {
  max-width: 900px;
  min-width: 300px;
}

.react-switch {
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 8px;
}

button > span {
  color: black;
}

img {
  max-width: 100%;
}

.disable__not-selected {
  border-color: transparent;
  background-color: #05ff3e82;
}

.disable__secondary:hover {
  background-color: transparent;
}
.disable__success:hover {
  background-color: #28a745;
}
.disable__danger:hover {
  background-color: #dc3545;
}

.disable__not-selected:hover {
  border-color: transparent;
  background-color: #05ff3e82;
}

.btn-outline-secondary:focus, .btn-outline-secondary:hover {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.btn-outline-not-selected:focus, .btn-outline-not-selected:hover {
  outline: none;
  box-shadow: none;
  background-color: #05ff3e82;
}

.ml-7 {
  margin-left: 4.7rem!important;
}

.btn .disabled, .btn:disabled {
  opacity: 1;
  margin-bottom: 2px;
} 